/* navigation section */
#navbar {
    flex-direction: column;
    position: sticky;
}
#navbar ul li a{
    font-size: 0.9rem;
   padding: 0px 7px;
   padding-bottom: 10px;
}





/* home section */
#home {
    height: 280px;
    padding: 3px 68px;

}

#home::before {
    height: 500px;


}

#home p {
    font-size: 20px;

    font-family: 'Dancing Script', cursive;
    ;


}


/* services section */
#services {
    flex-direction: column;

}

#services .box {
        border: 2px solid brown;
        width: 100%;
        margin: 10px 6px;
        border-radius: 6px;
        padding: 14px;
        background: #f2f2f2;
        margin-bottom: 20px;
}

/* client section */
#clients {
    flex-wrap: wrap;
}
#clients img{
     width: 70px;
     padding: 6px;
     height: auto;
}


/* contact us section */
#contact-box form{
    width: 80%;
}


/* footer */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}